{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container" id="hero-image">
        {% include 'main-nav.html' %}
        <div class="row" id="hero-content">
            <div class="col col-xs-12 col-md-8 col-lg-6 align-self-center">
                <div class="my-auto" id="hero-blurb">
                    <h1>Kiln-Dried Firewood</h1>
                    <h3>Pick-up or Delivery</h3><br>
                    <a href="{% url 'order' %}" class="btn btn-secondary">Order</a><br><br><br><br>
                </div>
            </div>
        </div>
        <div class="learn-more-text">
            <h4>Learn More</h4>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div id="learn-more">
            <div class="row">
                <div class="col-12 m-auto p-auto open-hours">
                    <table class="table table-borderless">
                        <tr>
                            <th>Opening hours:</td>
                        </tr>
                        <tr>
                            <td>Monday-Friday:</td>
                            <td>9-5</td>
                        </tr>
                        <tr>
                            <td>Saturday:</td>
                            <td>12-4</td>
                        </tr>
                        <tr>
                            <td>Sunday:</td>
                            <td>Closed</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="benefits-info row">
                    <h2>Benefits of kiln-dried wood</h2>
                    <hr>
                    <div class="col-sm-12 col-md-6">
                        <h4>Damaging pests</h4>
                        <p>Using kiln-dried wood is an essential tool in preventing the spread of damaging tree and shrub pests like the Emerald Ash Borer. The kiln-drying process destroys all pests and eggs hidden in the wood.</p>
                        <a href="https://www.in.gov/dnr/entomology/pests-of-concern/" target="_blank">Learn more about pests of concern (External link)</a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h4>Moisture content</h4>
                        <p>An appropriate level of moisture in firewood is important for controlling creosote build-up in your chimney. It also makes the wood burn hotter and more evenly. Bark Farmers guarantees a maximum of 25% moisture in firewood at delivery, but most often is around 18%.</p>
                        <a href="https://trace.tennessee.edu/cgi/viewcontent.cgi?&httpsredir=1&article=1100&context=utk_agexfores" target="_blank">Learn more about the importance of moisture content in firewood (External link)</a>
                    </div>
                </div>
                <hr>
                <div class="how-much-info row">
                    <h2>How much wood am I getting?</h2>
                    <div class="col-sm-12 col-md-6">
                        <h4>Rick</h4>
                        <p>
                            A "rick" of firewood is a measurement that describes an amount of wood. Because a "rick" defines the amount by the size of the stack (4' x 8'), a varying length of cut wood changes how much a rick actually contains. 
                            Bark Farmers cuts its wood 16 inches long so that it will fit in basically any domestic wood-fired stove or oven. Our ricks will average out at about 45 cubic feet, but may vary by up to 5 cubic feet.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h4>Construction bag</h4>
                        <p>
                            A construction bag is a heavy-duty synthetic fabric bag. Bark Farmers collects a deposit on delivered construction bags which can be recovered by returning the bag to Bark Farmers. Construction bags are designed to hold one 
                            cubic meter of solid materials like sand or soil. When carrying bulk loose firewood, they hold roughly .7 cubic meters, considerably less than a ton. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}