{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container" id="hero-image">
        {% include 'main-nav.html' %}
        <div class="row" id="hero-content">
            <div class="col col-xs-12 col-md-8 col-lg-6 align-self-center">
                <div class="my-auto" id="hero-blurb">
                    <h1>Kiln-Dried Firewood</h1>
                    <h3>Pick-up or Delivery</h3><br>
                    <a href="{% url 'order' %}" class="btn btn-black rounded-0"><strong>Order</strong> </a><br><br><br><br>
                </div>
            </div>
        </div>
        <div class="learn-more-text">
            <h4>Learn More</h4>
            <i class="fas fa-chevron-down"></i>
        </div>
    </div>
    <div id="learn-more" class="pt-5">
        <div class="row">
            <div class="col">
                <div class="benefits-info row">
                    <h2>Benefits of kiln-dried wood</h2>
                    <hr>
                    <div class="col-sm-12 col-md-6 p-3">
                        <h4>Damaging pests</h4>
                        <img src="{% static 'emerald-ash-borer.jpg' %}" alt="The Emerald Ash Borer" class="learnImage">
                        <p>Using kiln-dried wood is an essential tool in preventing the spread of damaging tree and shrub pests like the Emerald Ash Borer. The kiln-drying process destroys all pests and eggs hidden in the wood.</p>
                        <a href="https://www.in.gov/dnr/entomology/pests-of-concern/" target="_blank">Learn more about pests of concern (External link)</a>
                    </div>
                    <div class="col-sm-12 col-md-6 p-3">
                        <h4>Moisture content</h4>
                        <img src="{% static 'firewood-moisture-meter.jpg' %}" alt="Moisture Meter" class="learnImage">
                        <p>An appropriate level of moisture in firewood is important for controlling creosote build-up in your chimney. It also makes the wood burn hotter and more evenly. Bark Farmers guarantees a maximum of 25% moisture in firewood at delivery, but most often is around 18%.</p>
                        <a href="https://trace.tennessee.edu/cgi/viewcontent.cgi?&httpsredir=1&article=1100&context=utk_agexfores" target="_blank">Learn more about the importance of moisture content in firewood (External link)</a>
                    </div>
                </div>
                <hr>
                <div class="how-much-info row">
                    <h2>How much wood am I getting?</h2>
                    <div class="col-sm-12 col-md-6 p-3">
                        <h4>Rick</h4>
                        <img src="{% static 'one-rick.png' %}" alt="Showing approx. 1 rick of stacked wood" class="learnImage">
                        <p>
                            A "rick" of firewood is a measurement that describes an amount of wood. Because a "rick" defines the amount by the size of the stack (4' x 8'), a varying length of cut wood changes how much a rick actually contains. 
                            Bark Farmers cuts its wood 16 inches long so that it will fit in basically any domestic wood-fired stove or oven. Our ricks will average out at about 45 cubic feet, but may vary by up to 5 cubic feet.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6 p-3">
                        <h4>Construction bag</h4>
                        <img src="{% static 'construction-bag.jpg' %}" alt="Construction bag of wood" class="learnImage">
                        <p>
                            A construction bag is a heavy-duty synthetic fabric bag. Bark Farmers collects a deposit on delivered construction bags which can be recovered by returning the bag to Bark Farmers. Construction bags are designed to hold one 
                            cubic meter of solid materials like sand or soil. When carrying bulk loose firewood, they hold roughly .7 cubic meters, considerably less than a ton. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var learnMore = document.getElementsByClassName("learn-more-text")[0];
        var learnMoreActiveClass = "learn-more-text back-to-top"
        var learnMoreInactiveClass = "learn-more-text"
        let atTop = true;
        window.onscroll = transformText;

        function transformText(e){
            if (atTop) {
                if (window.scrollY > 0) {
                    atTop = false;
                    learnMore.innerHTML = "<a href='#hero-image'><h4>Back to Top</h4><i class='fas fa-chevron-up'></i></a>"
                    learnMore.className = learnMoreActiveClass
                }
            } else {
                if (window.scrollY == 0) {
                    atTop = true;
                    learnMore.innerHTML = "<h4>Learn More</h4><i class='fas fa-chevron-down'></i>"
                    learnMore.className = learnMoreInactiveClass
                }
            }
        }
    </script>
{% endblock %}