{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container" id="hero-image">
        {% include 'main-nav.html' %}
        <div class="row align-items-center mx-auto" id="storefront">
            <div class="col">
                <div class="row no-gutters mx-auto my-auto" id="store-items">
                    <div class="col-md-4 store-item">
                        <h1 class="store-text">Hard Woods</h1>
                    </div>
                    <div class="col-md-4 store-item">
                        <h1 class="store-text">Soft Woods</h1>
                    </div>
                    <div class="col-md-4 store-item">
                        <h1 class="store-text">Cooking Woods</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let doodad = "{% url 'home' %}"
        console.log(doodad)
        
        let reOrient = function() {
            let items = document.getElementById("store-items").children;
            if (window.innerHeight > window.innerWidth) {
                for (let i = 0; i < items.length; i++){
                    items[i].setAttribute("class", "col-md-12 store-item-portrait")
                    items[i].firstElementChild.setAttribute("class", "store-text-portrait")
                }
            } else {
                for (let i = 0; i < items.length; i++){
                    items[i].setAttribute("class", "col-md-4 store-item")
                    items[i].firstElementChild.setAttribute("class", "store-text")
                }
            }
        }
        window.addEventListener("resize", reOrient)
        window.addEventListener("load", reOrient)
    </script>
{% endblock %}