{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mx-auto" id="hero-image">
        {% include 'main-nav.html' %}
        <div class="overlay"></div>
        <div class="profile-box">
            <div class="row">
                <div class="col">
                    <hr>
                    <h2 class="logo-font mb-4">My Profile</h2>
                    <hr>
                </div>
            </div>
            <div class="row hidden">
                <button class="btn btn-black rounded-1 profile-btn disabled">Saved Information</button><button class="btn btn-black rounded-1 profile-btn">Order History</button>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6" id="profile-info">
                    <p class="text-muted">Default Delivery Information</p>
                    <form action="{% url 'profile' %}" method="POST" class="mt-3">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
                    </form>
                </div>
                <div class="col-12 col-lg-6" id="order-history">
                    <p class="text-muted">Order History</p>
                    <div class="order-history table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th>Order number</th>
                                    <th>Date</th>
                                    <th>Order Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">{{ order.order_number|truncatechars:6 }}</a>
                                        </td>
                                        <td>{{ order.date }}</td>
                                        <td>{{ order.grand_total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        orderHistory = document.getElementById("order-history")
        profileInfo = document.getElementById("profile-info")
        profileBtn = document.getElementsByClassName("profile-btn")[0]
        orderBtn = document.getElementsByClassName("profile-btn")[1]
        btns = document.getElementsByClassName("profile-btn")
        console.log(btns)
        $(document).on("load", function() {
            if (screen.width < 993) {
                // Show the hidden buttons
                // Hide the order section
            }
        })

        function btnFlip() {
            for (let i = 0;i < btns.length;i++) {
                if (btns[i].classList.contains("disabled")) {
                    btns[i].classList.remove("disabled");
                } else {
                    btns[i].classList.add("disabled");
                }
            }
        }

        function showInfo() {
            // Hide orderHistory
            // show profileInfo
            console.log("showinfo")
            btnFlip()
        }

        function showOrder() {
            orderHistory.setAttribute("display", "none")
            btnFlip()
        }

        profileBtn.addEventListener('click', showOrder)
        orderBtn.addEventListener('click', showInfo)
    </script>
{% endblock %}