{% extends "base.html" %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'checkout/css/checkout_success.css' %}">

{% endblock %}

{% block content %}
    <div class="container mx-auto" id="hero-image">
        {% include 'main-nav.html' %}
        <div class="overlay"></div>
        <div class="account-box">
            <div class="row">
                <div class="col">
                    <hr>
                    <h2 class="logo-font mb-4"> Thank you! </h2>
                    <hr>
                    <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}.</strong></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-4 mb-2">
                            Order number:
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small mb-0">{{ order }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            Product:
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small mb-0">{{ order.lineitems.first.quantity }} ricks of {{ order.lineitems.first.product|title }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% if order.lineitems.first.delivery_method == "delivery" %}
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small mb-0">{{ order.lineitems.first.product_type }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                Will be delivered to:
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="small mb-0"> {{ order.full_name }} </p>
                                <p class="small mb-0"> {{ order.street_address1 }} </p>
                                {% if order.street_address2 %}
                                    <p class="small mb-0"> {{ order.street_address2 }} </p>
                                {% endif %}
                                <p class="small mb-0"> {{ order.town_or_city }} </p>
                                <p class="small mb-0"> {{ order.postcode }} </p>
                                <p class="small mb-0"> {{ order.country }} </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12"><p>Delivery driver will call {{ order.phone_number }} before delivery for details on where the wood should be placed. <strong>If there is no answer, the wood will be placed at driver's discretion.</strong></p></div>
                        </div>
                    </div>
                </div>
            {% else %}
                <hr>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12"><p>Your order can be collected at 2460 N Arlington Ave, Indianapolis, IN 46218. Check our <a href="{% url 'home' %}#learn-more">opening hours.</a> Bear in mind that your order weighs <strong>{{ order.weight }} lbs.</strong></p></div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
