html, body {
    font-family: "Libre Baskerville", sans-serif
}

/* Navbar styling */

#hero-image {
    background: no-repeat top url("/static/hero-bg.jpeg");
    background-size: cover;
    margin: 0;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
}

.bg-light {
    --bs-bg-opacity: 0;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity)) !important;
}

.navbar-brand > img {
    height: 10vh;
    margin: 25px;
    margin-left: 75px;
}

.navbar-nav > .nav-item {
    font-size: 24px;
    padding: 25px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,0.7);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,1);
}

.navbar-toggler {
    position: absolute;
}

/* index page  styling */

#hero-content {
    text-align: center;
    height: 90vh;
    color: #e3e6f2
}

#hero-blurb > h1 {
    font-size: 54px;
}

/* Universal elements styling */

/* Button */
.btn {
    font-family: "Montserrat", sans-serif;
    color: #e3e6f2;
}

